.trail-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* 2 columns */
  grid-gap: 36px 32px;                    
  justify-items: center;
  align-items: start;
  width: 80%;
  margin: 50px auto;
  padding: 0 10px 64px 10px;
  box-sizing: border-box;
}

@media (max-width: 680px) {
  .trail-row-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
